/.esphome/
secrets.yaml

## JetBrains
.idea/*
!.idea/codeStyles/
!.idea/codeStyles/**
!.idea/inspectionProfiles/
!.idea/inspectionProfiles/**
!.idea/runConfigurations/
!.idea/runConfigurations/**

## NuxtJS
.output
.data
.nuxt
.nitro
.cache
dist
node_modules