@import '@fontsource/poppins';
@import '@fontsource-variable/open-sans';
@import "material-symbols/outlined.css";

@font-face {
    font-family: 'BabelStone Flags';
    src: url("./fonts/BabelStoneFlags.woff2"), url("./fonts/BabelStoneFlags.woff"), url("./fonts/BabelStoneFlags.ttf");
    font-display: swap;
}

#material button span,
.v3-icon span
{
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
}