on:
  push:
    branches:
      - main

name: "Build and Publish"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - uses: pnpm/action-setup@v3
        name: Install pnpm
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: "${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}"
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install -r

      - name: Get version
        id: version
        run: echo version=$(node -p -e "require('./packages/localdeck-configurator/package.json').version") >> $GITHUB_ENV

      - name: Build
        run: |
          sed -i "s/VERSION/${{ env.version }}/g" ./packages/localdeck-configurator/homeassistant/config.yaml
          pnpm --filter=localdeck-configurator build
          mkdir -p .temp
          cp -r ./packages/localdeck-configurator/{.output,homeassistant}/* ./.temp
      - uses: actions/upload-artifact@v4
        with:
          name: localdeck-configurator
          path: .temp

      - uses: actions/upload-artifact@v4
        with:
          name: localdeck-configurator-hass
          path: ./packages/localdeck-configurator/homeassistant

  publish:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: GHCR User
        run: echo "ghcr_user=${GITHUB_REPOSITORY_OWNER@L}" >> "${GITHUB_ENV}"

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ env.ghcr_user }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/download-artifact@v4
        with:
          name: localdeck-configurator
          path: localdeck-configurator

      - name: Publish
        uses: home-assistant/builder@master
        with:
          args: |
            --all \
            --target localdeck-configurator \
            --docker-hub "ghcr.io/${{ env.ghcr_user }}"

  publish-subtree:
    needs: [ build, publish ]
    runs-on: ubuntu-latest
    steps:

      - uses: actions/download-artifact@v4
        with:
          name: localdeck-configurator-hass
          path: localdeck-configurator

      - name: Pushes to another repository
        uses: cpina/github-action-push-to-another-repository@main
        env:
          SSH_DEPLOY_KEY: ${{ secrets.SSH_LOCALBYTES_HELLO }}
        with:
          source-directory: 'localdeck-configurator'
          target-directory: 'localdeck-configurator'

          destination-github-username: '${{ github.repository_owner }}'
          destination-repository-name: 'hass-addons'

          user-name: "LocalBytes Bot"
          user-email: "hello@mylocalbytes.com"
          target-branch: main
