on:
  push:
    branches:
      - main
  pull_request:
  release:

name: "Build and Publish"

jobs:
  build-js:
    name: Build JS
    runs-on: ubuntu-latest

    outputs:
      version: ${{ env.version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 9
          run_install: false

      - name: Install Node.js & Cache Dependencies
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: pnpm install -r

      - name: Get version
        run: |
          version=$(git describe --tags | sed 's/^v//')
          if [ "${GITHUB_EVENT_NAME}" = "release" ]; then
            version=$(node -p -e 'require("./packages/localdeck-configurator/package.json").version')
          fi
          echo "version=${version}" >> "${GITHUB_ENV}"

      - name: Build
        run: |
          sed -i "s/VERSION/${{ env.version }}/g" ./packages/localdeck-configurator/homeassistant/config.yaml
          pnpm build
          mkdir -p .temp
          cp -r ./packages/localdeck-configurator/{.output,homeassistant}/* ./.temp

      - uses: actions/upload-artifact@v4
        with:
          name: localdeck-configurator
          path: .temp

      - uses: actions/upload-artifact@v4
        with:
          name: localdeck-configurator-hass
          path: ./packages/localdeck-configurator/homeassistant

  build-docker:
    name: Build Docker
    needs: [ build-js ]
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write
      packages: write

    env:
      version: ${{ needs.build-js.outputs.version }}

    steps:
      - name: Setup Env
        run: echo "ghcr_user=${GITHUB_REPOSITORY_OWNER@L}" >> "${GITHUB_ENV}"

      - uses: docker/login-action@v3.2.0
        with:
          registry: ghcr.io
          username: ${{ env.ghcr_user }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/download-artifact@v4
        with:
          name: localdeck-configurator
          path: localdeck-configurator

      - uses: home-assistant/builder@2024.03.5
        with:
          args: |
            --all \
            --target localdeck-configurator \
            --docker-hub "ghcr.io/${{ env.ghcr_user }}" \
            --cosign \
            ${{ github.event_name == 'pull_request' && github.event.action == 'synchronize' && '--test' || '--no-latest' }}

  publish:
    name: Publish
    if: github.event_name == 'push' || github.event_name == 'release'
    needs: [ build-docker ]
    runs-on: ubuntu-latest

    env:
      version: ${{ needs.build-js.outputs.version }}

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: localdeck-configurator-hass
          path: localdeck-configurator

      - name: Update config
        if: github.event_name != 'release'
        run: |
          sed -i 's/"LocalDeck Configurator"/"[Dev] LocalDeck Configurator"/g' ./localdeck-configurator/config.yaml
          sed -i 's/"localdeck-configurator"/"localdeck-configurator-dev"/g' ./localdeck-configurator/config.yaml

      - name: Pushes to another repository
        uses: cpina/github-action-push-to-another-repository@main
        env:
          SSH_DEPLOY_KEY: ${{ secrets.SSH_LOCALBYTES_HELLO }}
        with:
          source-directory: 'localdeck-configurator'
          target-directory: ${{ github.event_name == 'release' && 'localdeck-configurator' || 'localdeck-configurator-dev' }}

          destination-github-username: '${{ github.repository_owner }}'
          destination-repository-name: 'hass-addons'

          user-name: "LocalBytes Bot"
          user-email: "hello@mylocalbytes.com"
          target-branch: main
