@import "@localbytes/localdeck-components/src/assets/main.css";
@source "./..";

#__nuxt {
    min-height: 100vh;
    min-width: 100vw;
}

:where(:root, [data-theme='dark']) {
    --root-bg: var(--color-primary-grad);
    --page-scroll-bg: var(--color-primary-grad);
}

@layer base {
    h1, .h1 {
        @apply text-2xl;
    }

    h2, .h2 {
        @apply text-xl;
    }

    h3, .h3 {
        @apply text-lg;
    }

    body {
        @apply font-body;
    }

    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        @apply font-display;
    }

    a:not(.link-unstyled, h1, h1 *, h2, h2 *, h3, h3 *, h4, h4 *, h5, h5 *, h6, h6 *) {
        @apply text-info;
    }
}